.portfolio {
  margin-top: 45px;
  &__video {
    &-element {
      width: calc(100% - 483px);
      min-height: 650px;
    }
    &-category {
      font-weight: 400;
      font-size: 17px;
      line-height: 130%;
      color: var(--color-txt-light);
    }
    &-name {
      font-weight: 700;
      font-size: 36px;
      text-transform: uppercase;
      color: var(--color-txt-light);
    }
  }
  &__title {
    font-weight: 700;
    font-size: 112px;
    line-height: 80%;
    text-transform: uppercase;
    color: var(--color-txt-light-akcent);
  }
  &__selected {
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--color-txt-akcent);
  }
}