.problem {
  margin-top: 100px;
  &__title {
    span {
      color: var(--color-akcent);
    }
    text-indent: 150px;
    color: var(--color-txt-light-akcent);
    font-weight: 700;
    font-size: 112px;
    line-height: 90%;
    text-transform: uppercase;
  }
  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__right {
    &__title {
      color: var(--color-txt-light-akcent);
      font-weight: 700;
      font-size: 17px;
      text-transform: uppercase;
      text-align: right;
    }
    &__descr {
      padding-top: 30px;
      margin-bottom: 55px;
      width: 329px;
      color: var(--color-txt-light);
      font-weight: 400;
      font-size: 17px;
      line-height: 130%;
      text-align: right;
    }
  }
}