:root {
	--color-secondary: #575757;
	--color-akcent: #f74806;
	--color-txt-light-akcent: #fff;
	--color-white: #fff;
	--color-txt-light: #e6e6e6;
	--color-light: #e6e6e6;
	--color-txt-akcent: #f74806;
	--color-icons---white: rgba(255, 255, 255, 0.05);
	--color-txt-secondary: #535353;
	--color-bg-card: rgba(126, 126, 126, 0.25);
	--color-decor: rgba(230, 230, 230, 0.04);
	--color-hover: #ff8253;
}